# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
package-lock.json
.editorconfig
.prettierrc
.prettierrc.json
src/**.d.ts

# Папка с собранными файлами проекта
public/main.js
public/main.js.map
